/* MARGIN */
.mb-27 {
  margin-bottom: 27px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-65 {
  margin-bottom: 65px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mt-65 {
  margin-top: 65px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mb-13 {
  margin-bottom: 13px !important;
}
.mx-18 {
  margin-right: 18px;
  margin-left: 18px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-22 {
  margin-top: 22px;
}
.mb-9 {
  margin-bottom: 9px!important;
}
.mb-20 {
  margin-bottom: 20px!important;
}
.mb-33 {
  margin-bottom: 33px!important;
}
.mb-12 {
  margin-bottom: 12px!important;
}
.mb-11 {
  margin-bottom: 11px!important;
}
.mb-24 {
  margin-bottom: 24px!important;
}
/* PADDING */
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}  
.px-9 {
  padding-left: 9px;
  padding-right: 9px;
}
.p-30 {
  padding: 30px;
}
.p-15 {
  padding: 15px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pt-40 {
  padding-top: 40px;
}
@media (min-width: 1200px) {
  /* PADDING */
  .px-xl-95 {
    padding-left: 95px!important;
    padding-right: 95px!important;
  }
  .p-xl-30 {
    padding: 30px;
  }
} 
/* LG */
@media (min-width: 992px) {
  /* PADDING */
} 
/* SM */
@media (min-width: 577px) {
  .mb-sm-18 {
    margin-bottom: 18px !important;
  }
  .mb-sm-27 {
    margin-bottom: 27px !important;
  }
  .mb-sm-28 {
    margin-bottom: 28px !important;
  }
  .mb-sm-60 {
    margin-bottom: 60px !important;
  }
  .mb-sm-50 {
    margin-bottom: 50px !important;
  }
} 

/* CUSTOM APP  */
.jdgm-widget.jdgm-widget {
  display: block;
  font-size: 12px;
  margin: 0 0 11px;
}
.jdgm-prev-badge__stars .jdgm-star {
  padding: 0 2px 0 0 !important;
}
